.p0{min-width: 200px;}
.p1{font-size: 16px; margin: 10px 0 10px 0; font-weight: bold;}
.p2{margin: 0 0 5px 0;}
.p3{margin: 0 0 5px 0;}
.p4{padding: 5px; margin: 0 0 0px 0; font-size: 16px;}
.p-error{border: 1px solid red;}
.p0,.p5,.all_task,.all_likes,.all_black_list,.config{display: none;}
.p10,.p19{position: relative;top: 11px;}
.p11{display: none;}
.p13{margin: 0 2px 0 0;}
.all_task .build_task_table td+td{max-width: 200px;}
.p14{margin: 0 2px 0 0;}
.p18 a{margin: 0 5px 0 0;}
.p18 a:last-child{margin: 0 0px 0 0;}
.p19{display: none;}
.p18 .p20{margin: 0 7px 0 0;}
.p21{display: none;}
.wednesday_05_04_01{margin: 20px 10px 20px 10px; min-width: 150px;}
.wednesday_05_04_01 button{display: none;}
.wednesday_05_04_02{text-align: center;}
.wednesday_05_04_03{min-width:800px; height:600px}
.wednesday_05_04_04{margin: 0 7px 0 7px;}
.wednesday_05_04_05,.wednesday_05_04_07{text-decoration: none; border-bottom: dashed 1px #0088cc; color: #333;}
.wednesday_05_04_10{margin: 0 2px 0 2px;}
.friday_04_07_0,.friday_04_07_1{margin: 10px 0 0 0; color: red; display: none;}