.p0{min-width: 200px;}
.p1{font-size: 16px; margin: 10px 0 10px 0; font-weight: bold;}
.p2{margin: 0 0 5px 0;}
.p3{margin: 0 0 5px 0;}
.p4{padding: 5px; margin: 0 0 0px 0; font-size: 16px;}
.p-error{border: 1px solid red;}
.p0,.p5,.all_task,.all_likes,.all_black_list,.config{display: none;}
.p10,.p19{position: relative;top: 11px;}
.p11{display: none;}
.p13{margin: 0 2px 0 0;}
.all_task .build_task_table td+td{max-width: 200px;}
.p14{margin: 0 2px 0 0;}
.p18 a{margin: 0 5px 0 0;}
.p18 a:last-child{margin: 0 0px 0 0;}
.p19{display: none;}
.p18 .p20{margin: 0 7px 0 0;}
.p21{display: none;}
.wednesday_05_04_01{margin: 20px 10px 20px 10px; min-width: 150px;}
.wednesday_05_04_01 button{display: none;}
.wednesday_05_04_02{text-align: center;}
.wednesday_05_04_03{min-width:800px; height:600px}
.wednesday_05_04_04{margin: 0 7px 0 7px;}
.wednesday_05_04_05,.wednesday_05_04_07,.thursday_27_04_1{text-decoration: none; border-bottom: dashed 1px #0088cc; color: #333;}
.wednesday_05_04_10{margin: 0 2px 0 2px;}
.friday_04_07_0,.friday_04_07_1{margin: 10px 0 0 0; color: red; display: none;}
.container-fluid{padding-left: 5px;}
.saturday_04_01{display: inline-block; margin: 16px 0 0 0;}
.saturday_04_01:hover{text-underline: none;}
.saturday_04_02{float: right; position: relative; top: 10px; margin: 0 6px 0 0;}
.saturday_04_03{margin-right: -20px;}
.saturday_04_04{position: absolute; right: 0px; margin: 0 10px 0 0;}
.p8{margin: 0px 10px 0px 0px;}
.tuersday_04_13_0{margin: 10px 0 5px 0;}
.tuersday_04_13_1,.tuersday_04_13_2{margin: 10px 0 0 0;}
.tuersday_04_13_3{margin: 0 0 10px 0;}
.new_category{display: none;}
.friday_04_14_01{margin: 10px 0 0 0; position: relative;}
.friday_04_14_02{position: absolute; right: 0; margin: 0 90px 0 0; top: 0px;}
.p8 .caret{position: relative; left: 4px;}
.p8 .dropdown-menu>li>a{padding-bottom: 10px; padding-top: 10px;}
.mondey_04_17_0{right: 0;  position: absolute;  margin: 9px 8px 0 0px;  text-shadow: none; display: none;}
.input-sm{font-size: 13px;}
.thursday_27_04_0{position: absolute; right: 0; margin: 0 10px 0 0; top: 77px; font-size: 12px;}
.wednesday_03_05_1{left: 26% !important;}
.thursday_11_05_01{position: absolute; top: 58px; right: 0; font-size: 13px; margin: 0 10px 0 0;}
.thursday_11_05_01 a{text-decoration: underline; margin: 0 0px 0 5px; cursor: pointer;}
.thursday_11_05_02{text-decoration: none !important; cursor: default !important; color:#333 !important;}
.thursday_11_05_02:hover{color:#333 !important;}
.thirsday_08_06_01{position: absolute; top: 60px; font-size: 13px;}
.wednesday_05_04_10{position: relative;}
.friday_09_06_01{right: 0; position: absolute; top: -25px;}