.p0{min-width: 200px;}
.p1{font-size: 16px; margin: 10px 0 10px 0; font-weight: bold;}
.p2{margin: 0 0 5px 0;}
.p3{margin: 0 0 5px 0;}
.p4{padding: 5px; margin: 0 0 0px 0; font-size: 16px;}
.p-error{border: 1px solid red;}
.p0,.p5,.all_task,.all_likes,.all_black_list,.config{display: none;}
.p10,.p19{position: relative;top: 11px;}
.p11{display: none;}
.p13{margin: 0 2px 0 0;}
.all_task .build_task_table td+td{max-width: 200px;}
.p14{margin: 0 2px 0 0;}
.p18 a{margin: 0 5px 0 0;}
.p18 a:last-child{margin: 0 0px 0 0;}
.p19{display: none;}
.p18 .p20{margin: 0 7px 0 0;}
.p21{display: none;}
.wednesday_05_04_01{margin: 20px 10px 20px 10px; min-width: 150px;}
.wednesday_05_04_01 button{display: none;}
.wednesday_05_04_02{text-align: center;}
.wednesday_05_04_04{margin: 0 7px 0 7px;}
.wednesday_05_04_05,.wednesday_05_04_07,.thursday_27_04_1{text-decoration: none; border-bottom: dashed 1px #0088cc; color: #333;}
.wednesday_05_04_10{margin: 0 2px 0 2px;}
.friday_04_07_0,.friday_04_07_1{margin: 10px 0 0 0; color: red; display: none;}
.container-fluid{padding-left: 5px; padding-right: 0px;}
.saturday_04_01{display: inline-block; margin: 16px 0 0 5px;}
.saturday_04_01:hover{text-underline: none;}
.saturday_04_02{float: right; position: relative; top: 10px; margin: 0 6px 0 0;}
.saturday_04_03{margin-right: 0px;}
.saturday_04_04{position: absolute; left: 0px; margin: 0 0px 0 130px; min-width: 115px;}
.p8{margin: 0px 0px 0px 0px;}
.tuesday_04_13_0{margin: 10px 0 5px 0;}
.sunday_02_11_0{margin: 10px 0 0 0;}
.tuesday_04_13_3{margin: 0 0 10px 0;}
.new_category{display: none;}
.friday_04_14_01{margin: 10px 0 0 0; position: relative;}
.friday_04_14_02{position: absolute; left: 0; margin: 0 0px 0 7px; min-width: 115px;}
.p8 .caret{position: relative; left: 4px;}
.mondey_04_17_0{right: 0; position: absolute; margin: 0 10px 0 0px; text-shadow: none;}
.input-sm{font-size: 13px;}
.thursday_27_04_0{position: absolute; right: 0; margin: 0 10px 0 0; top: 0px; font-size: 12px;}
.wednesday_03_05_1{left: 26% !important;}
.thursday_11_05_01{position: absolute; top: 58px; right: 0; font-size: 13px; margin: 0 10px 0 0; display: none;}
.thursday_11_05_01 a{text-decoration: underline; margin: 0 0px 0 5px; cursor: pointer;}
.thursday_11_05_02{text-decoration: none !important; cursor: default !important; color:#333 !important;}
.thursday_11_05_02:hover{color:#333 !important;}
.thirsday_08_06_01{position: absolute; top: 60px; font-size: 13px;}
.wednesday_05_04_10{position: relative;}
.friday_09_06_01{right: 0; position: absolute; top: -25px;}
.sunday_07_09{cursor: pointer;}
.sunday_07_09_02 td{vertical-align: top;}
.sunday_07_09_03{margin: 2px 0 0 0;}
.form-group{margin-bottom: 16px;}
.tuesday_07_11_01{cursor: pointer;}
.wednesday_05_04_08{overflow: auto;
    height: 475px;
    overflow-x: hidden;
    padding: 0 5px 0 5px;
    margin: 0 0 10px -5px;
    position: relative;}
.wednesday_05_04_08 label{margin-bottom: 6px;}
.wednesday_24_01{display: none; margin-left: 5px; top: 2px; color: #000;}
.wednesday_24_01{color: #b70b0b;
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 5px!important;}
.wednesday_24_01:hover{color: black;}
.tuesday_04_13_4{width: 100%;}
.saturday_02_11_1{margin: 0 0 0 2px;}
.dropdown-menu>li>a{padding: 3px 15px;}
.sunday_02_11_2{display: none; overflow: auto;}
.tuesday_02_13_0{position: absolute;
    top: 0px;
    right: 0px;
    margin: 16px 100px 0 0;
    font-size: 15px;}
.tuesday_02_13_0 a{margin: 0 2px 0 0;}
.tuesday_02_13_1{margin: 0 0 0 7px; position: relative; top: -2px;}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    text-decoration:none !important;
}

.stylish {
    background-color: yellow;
}

.stylish1 {
    background-color: transparent;
    transition: background-color 1s;
}

.gly-spin:hover{text-decoration:none !important;}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/**
 * Nestable
 */
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }
.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
/**
 * Nestable Extras
 */
.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }
#nestable-menu {
    padding: 0 0 10px 0;
    margin: 0px 0 10px 0;
    font-size: 13px;
    border-bottom: 2px solid #ddd;
}
#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }
#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }
@media only screen and (min-width: 700px) {
    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }
}
.dd-hover > .dd-handle { background: #2ea8e5 !important; }
/**
 * Nestable Draggable Handles
 */
.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 30px; }
.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
/**
 * Socialite
 */
.socialite { display: block; float: left; height: 35px; }
#nestable-menu button{margin: 0 1px 0 0;}
.monday_26_03_0{top: 2px; right: 2px; display:none;}